@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sansation);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sansation), Arial, Helvetica, sans-serif;
}

.custom-date::-webkit-calendar-picker-indicator {
  filter: invert(84%) sepia(21%) saturate(544%) hue-rotate(287deg);
  transform: scale(1.5);
  cursor: pointer;
}

/* ซ่อนไอคอนนาฬิกาเดิม แต่ยังกดเปิดตัวเลือกเวลาได้ */
input[type="time"]::-webkit-calendar-picker-indicator {
  width: 24px;
  cursor: pointer;
  opacity: 0;
}
